<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	  <meta name="google-site-verification" content="px_INeH4A2j_Ibfm2tVhNJi2Co8FtSZqe6LCSqlqczs" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>CSS PRO</title>
    <style>
body {
	background-color:#d0e4fe;
}
h1 {
  position: absolute;
  top:150px;
	color:orange;
	text-align:center;
  width:80%;
  margin:auto;
  left:50%;
transform: translate(-50%);
-webkit-transform:translate(-50%);
}
p {
	font-family:"Times New Roman";
	font-size:20px;
}
span{
  margin-left: 20px;
}
</style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>



<p> Selling the code for this website:<a href='https://eg.dzwj.top/>https://eg.dzwj.top</a>,I can translate it into any other language before delivering it to interested parties. Please contact: ljywpp@outlook.com </p> 
		  <p>Contact me: email:ljywpp@outlook.com</p>


</body>
</html>
