<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>CSS PRO</title>
    <style>
body {
	background-color:#d0e4fe;
}
h1 {
  position: absolute;
  top:150px;
	color:orange;
	text-align:center;
  width:80%;
  margin:auto;
  left:50%;
transform: translate(-50%);
-webkit-transform:translate(-50%);
}
p {
	font-family:"Times New Roman";
	font-size:20px;
}
span{
  margin-left: 20px;
}
</style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
<H1>I come from China,my English is not good, I have been unemployed for two years.I will use Vue and Node, and I hope someone can offer me a offer

 If this plugin is helpful to you, please help me with some money,

God bless you

</H1>
<p> my paypal:<a href='http://paypal.me/ljywpp'>http://paypal.me/ljywpp </a><span>    my name:peng peng wu(吴鹏鹏)</p> <p>Contact me:

facebook or email:ljywpp@outlook.com</P>
<p>Please contact me for suggestions or any bugs found</p>


</body>
</html>
